<!DOCTYPE html>
<html>
	@ctx.aux.head.setData({ title : title }).execute()
	<body>
		@ctx.aux.menu.execute()
		<main>
			@for (q in questions)
			{ @{var u = this.getUser(q.user);}
			<article class="question question_card" id="@q._id.valueOf()">
				<header class="question_card_header">
					<div class="user_avatar"></div>
					<div class="user_description">
						<div class="user_name">@u.name</div>
						<div class="user_reputation">@u.points</div>
					</div>
				</header>
				<div class="question_card_question"><a href="/question/@q._id.valueOf()">@q.contents</a></div>
				<footer class="question_card_footer">
					<div class="location_date">@Std.random(10)km @this.getPrettyDelta(q.created)</div>
					<div class="footer_icons">
						@if(ctx.loop.session.isAuthenticated()) {
						@{
							var favclass = "favorite icon";
							var folclass = "follow icon";
							if (q.state != null) {
								if (q.state.favorite)
									favclass += " icon_pressed";
								if (q.state.following)
									folclass += " icon_pressed";
							}
						}
						<a class="@favclass">Favorite/unfavorite</a>
						<a class="@folclass">Follow/unfavorite</a>
						}
					</div>
				</footer>
				<div class="question_card_answers">
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
				</div>
			</article>
			}
		</main>
	</body>
</html>

