<html>
<head>
	<meta charset="UTF-8">
	<title>TikMu – @title</title>
</head>
<body>
	@loop.subHtml("/helper/menu")
	<main>
		@for (q in questions)
		{
		@{var u = loop.subValue("/user/id/" + q.user.valueOf()).user;}
		<article>
			<header>
				<div>@u.name</div>
				<div>302</div><!-- TODO -->
			</header>
			<a href="/question/@q._id.valueOf()">@q.contents</a><!-- TODO toHtml -->
			<footer>
				<div>
					<span>São Paulo, 1h atrás</span><!-- TODO -->
					<a href="">F!</a><!-- TODO -->
				</div>
				<div>
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
				</div>
			</footer>
		</article>
		}
	</main>
</body>
</html>

