<html>
@{ var teaser = question.contents.split("\n")[0].split(" ").slice(0, 4).join(" "); }
@ctx.aux.head.setData({ title : teaser + (teaser != question.contents ? "..." : "") }).execute()
<body>
	@ctx.aux.menu.execute()
	<main>
                @{ var u = this.getUser(question.user); var qid = question._id.valueOf(); }
		<article id="@qid" class="question_open">
			<header id="question_header">
				<div id="user_avatar"></div>
				<div id="user_description">
					<div id="user_name">@u.name</div>
					<div id="user_reputation">302</div><!-- TODO -->
				</div>
				<div><a href="#" onclick="r = new XMLHttpRequest(); r.open('POST', '/question/@qid/favorite', false); r.send();">F!</a></div>
			</header>
			<p id="question_card_question">@question.contents</p><!-- TODO toHtml -->
			<footer>
				<div id="location_date">@Std.random(10)km @this.getPrettyDelta(question.created)</div>
				<div id="footer_icons">
					<a href="#answer_box" id="answer" class="icon">Answer</a>
					<a href="#@qid" id="share" class="icon">Share</a><!-- TODO -->
					<a href="#" id="favorite" class="icon">Favorite/unfavorite</a>
					<a href="#" id="follow" class="icon">Follow/unfollow</a>
				</div>
			</footer>
			<section id="answer_list">
				@for (a in question.answers)
				{ @{ var u = this.getUser(a.user); var aid = a._id.valueOf(); }
				<article id="@aid">
					<header>
						<div id="answer_user_name">@u.name</div>
						<div id="answer_user_date">@this.getPrettyDelta(a.created)</div>
					</header>
					<p id="answer_content">@a.contents</p><!-- TODO toHtml -->
					<footer>
					<a href="">Share</a><!-- TODO -->
					<a href="#" onclick="document.getElementById('@aid/comment').hidden = false">Comment</a>
					<form id="@aid/comment" action="/answer/@aid/comment" method="post" hidden="true">
						<input name="comment" type="text" placeholder="Comment" />
						<button type="submit">&gt</button>
						<button type="button" onclick="document.getElementById('@aid/comment').hidden = true">^</button>
					</form>
					</footer>
					<section>
						@for (c in a.comments)
						{ @{var u = this.getUser(c.user); var cid = c._id.valueOf(); }
						<article id="@cid" class="comment">
							<header>
								<div id="answer_user_name">@u.name</div>
								<div id="answer_user_date">@this.getPrettyDelta(c.created)</div>
							</header>
							<p id="answer_content">@c.contents</p><!-- TODO toHtml -->
						</article>
						}

					</section>
				</article>
				}
			</section>
			<form id="answer_box" action="/question/@qid/answer" method="post">
				<input name="answer" type="text" placeholder="Answer" id="answer_textinput" />
				<button type="submit" id="answer_submit_button">Send</button>
			</form>
		</article>
	</main>
</body>
</html>

