<html>
	<head>
		<meta charset="UTF-8">
		<title>TikMu – @title</title>
	</head>
	<body>
		@ctx.subHtml("/helper/menu")
		<div>
			@for (q in questions)
			{
			@{var u = ctx.subValue("/user/id/" + q.user.valueOf()).user;}
			<article>
				<div>@u.name</div>
				<div>302</div><!-- TODO -->
				<a href="/question/@q._id.valueOf()">@q.contents</a>
				<div>São Paulo, 1h atrás</div><!-- TODO -->
				@if (q.answers.length > 0)
				{
				<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
				}
				else
				{
				<a href="/question/@q._id.valueOf()">Answer</a>
				}
				<a href="">F!</a><!-- TODO -->
			</article>
			}
		</div>
	</body>
</html>

