<html>
	<head>
		<meta charset="UTF-8">
		<title>TikMu @data.contents.substr(0,25)</title>
		<script>js.Menu.run();</script>
		<script>js.Functions.run();</script>
	</head>
	<body>
		<nav class="nav">
			<ul>
				<li><a href="/">Voltar</a></li>				
			</ul>
		</nav>
		<article class="question">
			<h1>
				@username				
			</h1>
			<br/>
			<h2>
				@userpoint				
			</h2>
			<br/>
			<a onclick="js.Question.toggleFav(@data.id.toString())">@if(isFav){-Fav}else{+Fav}</a>
			<a onclick="js.Question.toggleFollow(data.id.toString())">@if(isFollowing){-Follow}else{+Follow}</a>
			<br/>
			<br/>
			@if(myUser != null && myUser == data.userID)
			{
				<a onclick="js.Question.confirmDeleteQuestion(@data.id.toString())">Delete</a>
				<a onclick="alert('TODO');">Edit</a>
				<a href="js.Question.markQuestionAsSolved(@data.id.toString())">Mark as Solved</a>
			}
			<h1>
			@data.contents			
			</h1>
			<br/>
				<br/>
				<a onclick="js.Question.voteUp(@data.id.toString(), null)">UP</a>
				<h2>@data.voteSum</h2>votes
				<a onclick="js.Question.voteDown(@data.id.toString(), null)">DOWN</a>
				<br/>
			<br/>
			@for(tag in data.tags)
			{
				<a href="alert('TODO');">@tag</a>
			}
			<br/>
			<br/>
			@for (c in data.comments)
			{
				@if(!c.deleted)
				{
					@if(myUser != null && myUser == c.userID)
					{
						<a onclick="js.Question.confirmDeleteComment(@data.id.toString(), null, @data.comments.indexOf(c)">Delete</a>
						<a onclick="alert('TODO');">Edit</a>
					}
					<div class="comment">
						@c.contents
					</div>
				}
			}
			<br/>
			<br/>
				<div class="post comment">
					<form method="POST" action="/question/comment/@data.id.toString()">
						<textarea placeholder="Deixe seu comentário" name="comment"></textarea>
						<!--Workaround until I see how to pass nullable parameters to MWeb-->
						<!--Should work fine without-->
						<!--input type="hidden" name="answerIndex" id="answerIndex" value="-1"/-->
						<input type="submit" />
					</form>
				</div>
			<br/>
			<br/>
			@for (ans in data.answers)
			{			
				@if (!ans.deleted)
				{
					@if(myUser != null && myUser == ans.userID)
					{
						<a onclick="js.Question.confirmDeleteAnswer(@data.id.toString(), @data.answers.indexOf(ans))">Delete</a>
						<a onclick="alert('TODO');">Edit</a>						
					}
					<div class="answer">
						
						
						<br/>
						<a onclick="js.Question.voteUp(@data.id.toString(), @data.answers.indexOf(ans))">UP</a>
						<h2>@ans.voteSum</h2>votes
						<a onclick="js.Question.voteDown(@data.id.toString(), @data.answers.indexOf(ans))">DOWN</a>
						<br/>
						
						@ans.contents
						
						@for (c in ans.comments)
						{
							@if(!c.deleted)
							{
								@if(myUser != null && myUser == c.userID)
								{
									<a onclick="js.Question.confirmDeleteComment(@data.id.toString(), @data.answers.indexOf(ans), @ans.comments.indexOf(c)">Delete</a>
									<a onclick="alert('TODO');">Edit</a>
								}
								<div class="comment">
									@c.contents
								</div>
							}
						}
						
						<div class="post comment">
							<form method="POST" action="/question/comment/@data.id.toString()">
								<textarea placeholder="Deixe seu comentário" name="comment"></textarea>
								<input type="hidden" name="answerIndex" id="answerIndex" value="@data.answers.indexOf(ans)"/>
								<input type="submit" />
							</form>
						</div>
					</div>
				}
			}
			<form method="POST" action="/question/answer/@data.id.toString()">
				<textarea placeholder="Deixe sua resposta" name="answer"></textarea>
				<input type="submit" />
			</form>
		</article>
		<a href="/register">Register here</a>
	</body>
</html>

