<html>
	<head>
		<meta charset="UTF-8">
		<title>TikMu @data.contents.substr(0,25)</title>
	</head>
	<body>
		<nav class="nav">
			<ul>
				<li><a href="/">Voltar</a></li>				
			</ul>
		</nav>
		<article class="question">
			<h1>
				--USERNAME--				
			</h1>
			<br/>
			<h2>
				--USERPOINTS--				
			</h2>
			<br/>
			@if(myUser != null && myUser == data.userID)
			{
				<a onclick="alert('TODO');">Delete</a>
				<a onclick="alert('TODO');">Edit</a>
				<a onclick="alert('TODO');">Mark as Solved</a>
			}
			<h1>
			@data.contents
			</h1>
			<br/>
			@for(tag in data.tags)
			{
				<a onclick="alert('TODO');">@tag</a>
			}
			<br/>
			<br/>
			@for (ans in data.answers)
			{			
				@if (!ans.deleted)
				{
					@if(myUser != null && myUser == ans.userID)
					{
						<a onclick="alert('TODO');">Delete</a>
						<a onclick="alert('TODO');">Edit</a>						
					}
					<div class="answer">
						
						@for (c in ans.comments)
						{
							@if(!c.deleted)
							{
								@if(myUser != null && myUser == c.userID)
								{
									<a onclick="alert('TODO');">Delete</a>
									<a onclick="alert('TODO');">Edit</a>
								}
								<div class="comment">
									@c.contents
								</div>
							}
						}
						
						<br/>
						<a onclick="alert('TODO');">UP</a>
						<h2>--VOTES--</h2>votes
						<a onclick="alert('TODO');">DOWN</a>
						<br/>
						
						@ans.contents
						
						<div class="post comment">
						</div>
					</div>
				}
			}
			<form method="POST" action="/question/answer/@data.id">
				<textarea name="answer"></textarea>
				<input type="submit" />
			</form>
		</article>
		<a href="/register">Register here</a>
	</body>
</html>

