<html>
	<head>
		<meta charset="UTF-8">
		<title>TikMu – @title</title>
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		@ctx.subHtml("/helper/menu")
		<div>
<!--			@for (q in questions)
			{
			@{var u = ctx.subValue("/user/id/" + q.user.valueOf()).user;}
-->			
			<article id="question_card">
				<header id="question_header">
					<div id="user_avatar"></div>
					<div id="user_description">
						<div id="user_name">@u.name</div>
						<div id="user_reputation">302</div><!-- TODO -->
					</div>
				</header>
				<div id="question_card_question"><a href="/question/@q._id.valueOf()">@q.contents</a></div>
				<footer id="question_card_footer">
					<div id="location_date">São Paulo, 1h atrás</div><!-- TODO -->
					<div id="footer_icons">
						<div id="favorite"><a href="#"></a></div>
						<div id="follow"></div>
					</div>
				</footer>	
				<div id="question_card_answers">
					Responder
				<!--
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
					<a href="">F!</a><!-- TODO -->
				</div>
			</article>

<article id="question_card">
				<div id="user_name">@u.name</div>
				<div id="user_reputation">302</div><!-- TODO -->
				<div id="question_card_question"><a href="/question/@q._id.valueOf()">Lorem ipsum dolor.</a></div>
				<div id="question_card_footer">
					<div id="location_date">São Paulo, 1h atrás</div><!-- TODO -->
				</div>	
				<div id="question_card_answers">
					Responder
				<!--
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
					<a href="">F!</a><!-- TODO -->
				</div>
			</article>

			<article id="question_card">
				<div id="user_name">@u.name</div>
				<div id="user_reputation">302</div><!-- TODO -->
				<div id="question_card_question"><a href="/question/@q._id.valueOf()">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a></div>
				<div id="question_card_footer">
					<div id="location_date">São Paulo, 1h atrás</div><!-- TODO -->
				</div>	
				<div id="question_card_answers">
					Responder
				<!--
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
					<a href="">F!</a><!-- TODO -->
				</div>
			</article>

			<article id="question_card">
				<div id="user_name">@u.name</div>
				<div id="user_reputation">302</div><!-- TODO -->
				<div id="question_card_question"><a href="/question/@q._id.valueOf()">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</a></div>
				<div id="question_card_footer">
					<div id="location_date">São Paulo, 1h atrás</div><!-- TODO -->
				</div>	
				<div id="question_card_answers">
					Responder
				<!--
					@if (q.answers.length > 0)
					{
					<a href="/question/@q._id.valueOf()">@q.answers.length answers</a>
					}
					else
					{
					<a href="/question/@q._id.valueOf()">Answer</a>
					}
					<a href="">F!</a><!-- TODO -->

				</div>
			</article>

			}
		</div>
	</body>
</html>

