/*  Main CSS */

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

input, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

a {
	color: #fff;
	text-decoration: none;
}

li {
	list-style: none;
}


/* Header */

#header {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-color: #333;
}

#header_nav {
	margin: 0 auto;
	width:100%;
	max-width:960px;
	padding: 18px 20px;
}

#header_nav li {
	display: inline;
}

.right{
	float: right;
}


#main_menu {
	background-image: url('../img/icon-menu.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	cursor: pointer;	
}

#logo {
	background-image: url('../img/logo.png');
	background-repeat: no-repeat;
	background-size: 57px 17px;
	background-position: center;
	padding: 0 20px 0 0;
	border: none;
}

#location {
	background-image: url('../img/icon-location.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center;
	border: none;
	cursor: pointer;
}

#post_question {
	background-image: url('../img/icon-post-question.png');
	background-repeat: no-repeat;
	background-size: 19px 17px;
	background-position: center;
	border: none;
	cursor: pointer;
}

.hidden-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	visibility: hidden;
}


/* Columns */


/* Cards */

#question_card {
	background-color: #95B300;
	border-radius: 5px; 
	max-width: 300px;
	min-width: 300px;
	color: #fff;
	display: inline-block;
	vertical-align: top;

}

#user_avatar {
	background-image: url('../img/icon-user-avatar.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	padding-right: 5px;
	height: 30px;
	width: 30px;
	border: none;
	display: inline-block;
}

#user_description {
	display: inline-block;
}

#question_header {
	padding-left: 20px;
	margin: 0;
}

#user_name {
	padding: 20px 0 0 0;
}

#user_reputation {
	padding: 0;
	color: rgba(255,255,255,0.6);
}

#question_card_question {
	font-size: 1.3em;
	line-height: 2em;
	margin: 30px 0 15px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin: 0 20px 20px 20px;
}


#question_card_footer {
	margin: 0 0 15px 0;
	display: block;

}

#location_date {
	display: inline;
	padding: 0 20px;
}

#question_card_answers {
	margin: 0;
	padding: 20px 0;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.14);
	width: 100%;
	font-size: 16px;
	text-align: center;
}



/* Icons */

#favorite {
	background-image: url('../img/icon-favorite.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	padding-right: 35px;
	border: none;
	display: inline;
	cursor: pointer;
}

#follow {
	background-image: url('../img/icon-follow.png');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	height: 20px;
	width: 20px;
	padding: 0 35px 0 0;
	border: none;
	display: inline;
	cursor: pointer;
}

#share {
	background-image: url('../img/icon-share.png');
	background-repeat: no-repeat;
	background-size: 18px 24px;
	height: 24px;
	width: 18px;
	padding: 5px 35px 0 0;
	border: none;
	display: inline;
	cursor: pointer;
	margin-top: -4px;
}

#answer {
	background-image: url('../img/icon-answer.png');
	background-repeat: no-repeat;
	background-size: 24px 18px;
	height: 20px;
	width: 24px;
	padding: 0 35px 0 0;
	border: none;
	display: inline;
	cursor: pointer;
}

/* Questions open */

.question_open {
	max-width: 620px;
	background-color: #95B300;
	color: #FFF;
}

#answer_list {
	background-color: #FFF;
	color: #333;
	margin-top: 20px;
	padding: 20px;
}

#answer_user_name {
	color: #8763DD;
}

#answer_user_date {
	color: #AAA;
}

#answer_content {
	font-size: 16px;
}

#answer_box {
	background-color: #EEE;
	padding: 15px 20px;
}

#answer_textinput {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 16px;
	width: 77%;
}

#answer_submit_button {
	padding: 11px 15px 8px 15px;
	background-color: #ABCD00;
	border-radius: 5px;
	border-bottom: 3px solid #99B800;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: #FFF;
	font-size: 16px;
	margin-left: 2%;
	width: 20%;
	text-align: center;

}

#footer_icons {
	text-align: right;
	margin-top: -20px;
}


