/*  Main CSS */

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

h4 {
	font-size: 14px;
	color: #fff;
}

input {
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 300;
	color: #ccc;
	border-radius: 4px;
	width: 100%;
	max-width: 260px;
	padding: 12px 6px;
	margin: 0 30px 10px 30px;
}

.header {
	background: #333;
	height:40px;
}

.header img {	
	float: right;
	margin: 10px 20px 0 0; 
	width: 24px;
	height: 24px;
}

.question {
	background: #b4cc16;
	color: #fff;
}

.question a {
	color: #fff;
	text-decoration: none;
}

.author {
	font-size: 14px;

}

.info {
	font-size: 14px;
}

.submit {
	background: #b4cc16;
	color: #fff;
	border: 0px;
	border-radius: 0;
	width: 100%;
	max-width: 320px;
	padding: 18px 6px;
	margin: 10px 0 0 0;
}


.vote-up-on {
	background: url(img/vote-up.png);
}

.vote-up-off {
	background: url(img/vote-up.png);
	opacity: 0.5;
}

.vote-down-on {
	background: url(img/vote-down.png);
}

.vote-down-off {
	background: url(img/vote-down.png);
	opacity: 0.5;
}

