/*  Main CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*media queries test*/
@media (max-width: 2311px) 
{
  .grid {
    left: 6.5%;
   }
}


/*TikMU*/

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	background-color: #E6E6E6
}



input, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

a {
	color: #fff;
	text-decoration: none;
}

/* but keep the default color on 'temp' (unstiled) elements */
/*.temp a, a.temp {
	color: gray;
}
*/


.temp {
	
}

li {
	list-style: none;
}

.is-locked{
	overflow: hidden;
}




.is-blurred {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="1" /></filter></svg>#filter');
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

/* Header */

nav ul {list-style: none; margin: 0; padding: 0;}
nav > ul > li {float: left;}
nav ul:after {content:'';display:block; clear:both;}

nav ul li:hover {background-color:rgba(0,102,102,.8);}
nav ul li:hover > ul {display: block;}
nav ul li a {display: inline-block; color: #fff; padding: 10px 20px; text-decoration:none; width:125px;}
nav ul li a:hover {background-color: #339999;}
nav ul ul {display:none; position: relative; top: 100%; background-color:rgba(0,102,102, .8); }


.question_card_header {
    left: 20px;
    display: inline-block;
    position: relative;
}

#header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 57px;
  background: rgba(0,0,0,0.85);
  z-index: 15;
}

#header_nav {
  display: inline;
  width: 710px;
  margin: 0 auto;
  padding: 0px 25px;
}

/*#header_nav li  {
	
  display: inline;
  font-size: 1.45em;
  font-weight: bold;
  color: #96aed8;
  line-height: 57px;
  text-decoration: none;
  padding: 0px 8px;
  margin-right: 6px; 
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear; 
}*/





.right{
	float: right;
}

#main_menu {
	background-image: url('../img/icon-menu.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 0;
}

#logo {
	background-image: url('../img/logo.png');
	background-size: 57px 17px;
	width: 57px;
	height: 17px;
	margin: 0 20px 0 0;
}

#location {
	background-image: url('../img/icon-location.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 0;
}

#post_question {
	background-image: url('/img/icon-post-question.png');
	background-size: 19px 17px;
	width: 19px;
	height: 17px;
}

#notify{
	background-image: url('../img/icon-notify.png');
	background-size: 17px 15px;
	width: 19px;
	height: 16px;
	margin: 0 10px 0px 4px;
}


/* Columns */


/* Cards */

.grid{
	max-width: 100%;
	top: 60px;
}

.question_card {
	background-color: #95B300;
	border-radius: 5px;
	max-width: 300px;
	min-width: 300px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	top: 15px;
	box-shadow: 0 5px 10px 0 #757575, 0 4px 5px 0 #a8a8a8;
}



.user_avatar {
	background-image: url('../img/icon-user-avatar.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	padding-right: 5px;
	height: 30px;
	width: 30px;
	border: none;
	display: inline-block;
}

.user_description {
	display: inline-block;
}

.question_header {
	padding-left: 20px;
	margin: 0;
}

.user_name {
	padding: 20px 0 0 0;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.6" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(60%);
	        filter: opacity(60%);
}

.user_reputation {
	padding: 0;
	color: rgba(255,255,255,0.6);
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.6" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(60%);
	        filter: opacity(60%);
}

.question_card_question {
	font-size: 1.3em;
	line-height: 2em;
	margin: 30px 0 15px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	margin: 0 20px 20px 20px;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.6" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(80%);
	        filter: opacity(80%);
}


.question_card_footer {
	margin: 0 0 15px 0;
	display: block;
}

.location_date {
	display: inline;
	padding: 0 20px;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.6" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(60%);
	        filter: opacity(60%);
}

.question_card_answers {
	margin: 0;
	padding: 20px 0;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.14);
	width: 100%;
	font-size: 16px;
	text-align: center;
}



/* Icons */

.icon {
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-indent: 9999%;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
}

.icon.answer {
	background-image: url('../img/icon-answer.png');
	background-size: 24px 18px;
	width: 24px;
	height: 20px;
	margin: 0 10px 0 0;
}

.icon.share {
	background-image: url('../img/icon-share.png');
	background-size: 18px 24px;
	width: 18px;
	height: 24px;
	margin: 0 10px 0 0;
}

.icon.favorite {
	background-image: url('../img/icon-favorite.png');
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	margin: 0 10px 0 0;
}

.icon.follow {
	background-image: url('../img/icon-follow.png');
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
	margin: 0 20px 0 0;
}







/* Comment container*/

.comment_container{
	position: relative;
	background-color: #F4F3F4;
	width: 94%;
	height: 34px;
	
}

.comment_text{
	position: absolute;
	display: inline;
	font-size: 13px;
	height: 21px;
	width: 64%;
	top: 15%;
	margin-top: 0px;
	margin-left: 5px;
  	border: 1px solid #CCC;
	border-radius: 5px; 
	padding: 0 10% 0 2%;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.5" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(50%);
	        filter: opacity(50%);
}
.comment_avatar{
	position: relative;
	background-image: url('../img/icon-user-avatar.png');
	height: 20px;
	width: 20px;
  	float: left;
	top: 10%;
	left: 7px;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	padding-right: 5px;
	height: 30px;
	width: 30px;
	border: none;	
}

.submit_comment{
	position: absolute;
	top: 18%;
	padding: 2px 3px 1px 7px;
	background-color: #C3C2C3;
	border-radius: 5px;
	border-bottom: 1px solid #D1D1D1;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: RGBA(255, 255, 255, 0.84);
	font-size:14px;
	text-align: center;
	display: inline;
	width: 13%;
	right: 2%;
}

.comment_list{
	background-color: #F4F3F4;
 	margin: 0px -20px;
	padding: 0 40px;	
}

.background_comment{
	padding: 3%;	
	width: 100%;	
	border: 2px solid white;	
}

.comment_content{
	font-weight: 400;
	font-size: 16px;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.4" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: opacity(40%);
	        filter: opacity(40%);
}

/* vote*/

..is-position-relative{
	position:relative;
	height: 35px;
}

.vote {
	position: absolute;
	text-align: center;
	height: 66px;
	width: 60px;
	right: 0px;
	top: -40px;
	margin: 0px;
}

a.upvote.icon{
	cursor: pointer;
	background-image: url("../img/icon-upvote.png");
	background-size:24px;
	background-repeat:no-repeat;
	width: 30px;
	height:30px;
	position:absolute;
}


a.upvote.pressed {
	cursor: pointer;
	background-image: url("../img/icon-upvote.png");
	background-size:24px;
	background-repeat:no-repeat;
	width: 30px;
	height:30px;
}

.vote_count{
	position:absolute;
	top: 25px;
	right: 10px	
}


a.downvote.icon, a.downvote.icon.pressed {
	position:absolute;
	cursor: pointer;
	bottom: 0px;
	background-image: url("../img/icon-downvote.png");
	background-size:24px;
	background-repeat:no-repeat;
	width: 30px;
	height: 30px;
}


.icon.pressed {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.3" /></feComponentTransfer></filter></svg>#filter');
	-webkit-filter: invert(1) opacity(.3);
	        filter: invert(1) opacity(.3);
}


.temp .pressed {
	text-decoration: line-through;
}

.share_answer{
	background-image: url('../img/icon-answer-gray.png');
	background-size: 25px 25px;
	width: 25px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	-webkit-filter: opacity(40%);
	        filter: opacity(40%);
}

.comment_icons{
	
}

.comment_answer {
	height: 25px;
	color:gray;
	padding-left: 10px;
	display: inline-block;
}

/*Answer.icon*/
.answer {
    
}


.question_open.modal {
	display: block !important;
    overflow-y: scroll;
    position: fixed;
    top: 0; right: 0;
    height: 100%; width: 100%;
}

.question_open {
 position:absolute; 
 width:100%; 
 height:100%; 
 left:0; 
 top:0

}


.question_open_inner {
	background-color: #95B300;
	color: #FFF;
	max-width: 620px;	
	z-index: 999;
	width: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; right: 0;
	margin-bottom: 70px;
	top: 200px;
}	

div.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index:10;
	background-color: rgba(0,0,0,0.6);
	top: 57px; left: 0; bottom: 0; right: 0;
}

.question_open_inner {
	

}



/*SECTION answer_list*/

.answer_list {
	background-color: #FFF;
	color: rgba(51, 51, 51, 0.8);
	margin-top: 20px;
	padding: 10px 20px 20px 20px;
}

/*answer container*/

.answer_container{
	
}

.answer_user_name {
	color: #8763DD;
	padding-top: 9px;

}

.answer_user_date {
	color: #AAA;
	padding: 3px 0;
}

/* DIV answer box*/

.answer_inner{
	position: relative;	
}


/*TODO: Verify if this is the best method in this case*/
.answer_content {
    padding:5px 0;	
   	font-size: 16px;
   	font-weight: 400;
    width: 90%;
    max-height: 450px;
    min-height: 32px;
    line-height:1.8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}



.answer_main_question{
	width: 100%;
	position: relative;
}


.answer_box {
	background-color: #EEE;
	padding: 15px 20px;
}

.answer_textinput {
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 5px;
	font-size: 16px;
	width: 74%;
	display: inline;
}

.answer_submit_button {
	padding: 11px 15px 8px 15px;
	background-color: #ABCD00;
	border-radius: 5px;
	border-bottom: 3px solid #99B800;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	color: #FFF;
	font-size: 16px;
	text-align: center;
	display: inline;
  	position: absolute;
	width: 20%;
	right: 15px;	
}

.footer_icons {
	text-align: right;
	margin-top: -20px;
}


/* close question / right corner button*/

div.close_button {
	position: absolute;
	border-top: 50px solid #657F02;
	border-left: 50px solid transparent;
  	right: 0px;	
	
}
 
.close {
	font-family: Garamond, "Apple Garamond";
	font-size: 25px;
	float: right;
	color: white;
	background-color: transparent;
	background-size: 20px 20px;
  	width: 21px; 
  	margin: 2px;
  	cursor: pointer;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.6" /></feComponentTransfer></filter></svg>#filter'); 
	-webkit-filter: opacity(60%);
	        filter: opacity(60%); 	
}
