/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*  Main CSS */

body {
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	width: 100%;
	margin: 0;
	padding: 0;
}

div.row {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

h1 {
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

h4 {
	font-size: 14px;
	color: #fff;
}

input {
	border: 1px solid #ddd;
	font-size: 14px;
	font-weight: 300;
	color: #ccc;
}

.header {
	background: #333;
	height:50px;
}

.header .ask {	
	float: right;
	background: url(../img/create-question.png);
	margin: 10px 20px 0 0; 
	width: 24px;
	height: 24px;
}

.header .logo {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	line-height: 1.5;
	color: #FFF;
	display:inline-block;
	margin: 13px 0 0px 0px;
}

.question {
	background: #b4cc16;
	color: #fff;
	padding: 14px 14px 0 14px;
}

.multi .question {
	margin: 20px 20px 0 0;
	border-radius: 7.5px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
	/* margin-top:20px; */
}

@media (max-height: 480px) {
	.question h1 {
		max-height: 220px;
	}
}

@media (min-width: 480px) {
	.row {
		width: 450px;
		margin: 0 auto;
	}
}

.user img {
	width: 32px;
	height: 32px;
	float:left;
	margin-right: 10px;
}

.user .author {
	font-size: 16px;
	font-weight: 400;
	font-size: 14px;
}

.user .user_rate {
	font-size: 13px;
	font-weight: 300;
	padding-top: 5px;
}

.uquestion_rate {
	margin-top: 3px;
}

.question .user {
	margin-bottom: 25px;
}

.question h1 {
	text-align: center;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	/* width: 300px; */
	min-height: 230px;
	overflow-y: auto;
}

.row.multi { 
	padding-left: 12px;
}

.question .qanswers {
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.18);
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -25px;
	height: 60px;
	text-align: center;
	padding-top: 19px;
	font-size: 16px;
	font-weight: 400;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.5);
}

.question .tools {
	/* border-top: 0.5px solid #FFF; */
	text-align: right;
	margin: 10px;
	padding-top: 15px;
	font-weight: 400;
}

.tools .icon-reply {
	width: 20px;
	height: 20px;
	background: url("../img/share.png") top right;
	display:inline-block;
	margin-left: 4px;
}

.tools a span {
	display:none;
}

.tools span.icon-data {
	margin-right: 5px;
	font-size: 11px;
}

.tools .icon-fav { 
	width: 20px;
	height: 20px;
	background: url("../img/fav.png") top right;
	display:inline-block;
	margin-left: 4px;
}

.question .info {
	font-size: 12px;
	margin-bottom: 12px;
	background: url("../img/location.png") top left no-repeat;
	padding-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.single .question {
	padding-bottom: 12px;
}

.answers {
	margin-top: 26px;
}

.answers a {
	color: #755AD6;
	text-decoration: none;
}

.answers .answer_data {
	color: #333;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	min-height: 70px;
	min-width: 60%;
	padding-left: 12px;
	display:inline-block;
	/* width: 100%; */
}

.answer .answer_data {
	clear:both;
}

.answers .user {
	float: right;
}

.answers .comments {
	clear: both;
	/* margin-left: 60px; */
	padding-top: 15px;
	font-size: 12px;
}

.button-min {
	width: 4%;
	height:50px;
	float:right;
}

textarea {
	width: 95%;
	height:50px;
}

.resposta textarea {
	height: 100px;
}

.resposta .button-min {
	height: 100px;
}

.answers .comments .comment {
	border-top: 1px dotted #DDD;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
}

.comentar {
	display: none;
}

.question a {
	color: #fff;
	text-decoration: none;
}

.author {
	font-size: 14px;
}

.info {
	font-size: 14px;
}

.submit {
	background: #b4cc16;
	color: #fff;
	border: 0px;
	border-radius: 0;
	width: 100%;
	max-width: 320px;
	padding: 18px 6px;
	margin: 10px 0 0 0;
}

.vote-up-on {
	background: url(../img/arrow-up-white.png);
	width: 32px; height:20px;
	display:block;
}

.vote-up-off {
	background: url(../img/arrow-up-gray.png);
	width: 32px; height:20px;
	display:block;
}

.vote-down-on {
	background: url(../img/arrow-down-white.png);
	width: 32px; height:20px;
	display:block;
}

.vote-down-off {
	background: url(../img/arrow-down-gray.png);
	width: 32px; height:20px;
	display:block;
}

.answer-rate {
	text-align: center;
}

.answer .vote span { 
	display: none;
}

.answer .vote {
	/* display:inline-block; */
	width: 32px;
	height: 32px;
	float:left;
}

.last-url span {
	display:none;
}

.last-url {
	background: url(../img/last.png);
	width: 32px; height:32px;
	display:block;
	position:absolute;
	margin: auto 0;
	left:0; top:0; bottom:0;
}


.next-url span {
	display:none;
}

.next-url {
	background: url(../img/next.png);
	width: 32px; height:32px;
	display:block;
	position:absolute;
	margin: auto 100%;
	left:-32px; top:0; bottom:0;
}
