<html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=320px, user-scalable=no">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link href='res/css/frass.css' rel='stylesheet' type='text/css'><head>
<head>
<title>Login user</title>
@if(msg != null) {
<script>
	alert("@(StringTools.replace(msg, '"', '\\"'))")
</script>
}
</head>
<body>
<div class="header">
	<div class="row">
		<a class="back" href="@tools.History.back()" ></a>
		<span class="logo">FRĀSS</span>
		<a class="ask" href="ask"></a>
	</div>
</div>
<div class="row">
	<form action="login" method="POST">
		<input type="text" name="email" placeholder="email" /> <br />
		<input type="password" name="pass" placeholder="password" /> <br />
		<input type="submit" value="enviar" class="submit" />
	</form>
	<div class="create-user">
	Ainda não é usuário? <a href="create">Cadastre-se aqui</a>
	</div>
</div>
</body>
</html>

