<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<link href='res/css/frass.css' rel='stylesheet' type='text/css'>
<link href='res/css/amazium.css' rel='stylesheet' type='text/css'>
<link href='res/css/amazium-percent.css' rel='stylesheet' type='text/css'>
<!-- <link href='res/css/base.css' rel='stylesheet' type='text/css'> -->

<title>Frass</title>
</head>
<body>
	<div class="header">
		<div class="row">
			<span class="logo">FRĀSS</span>
			<a class="ask" href="/ask"></a>
		</div>
	</div>
	<div class="row">
		<div class="grid_6 offset_3">
		@(new QuestionCard().setData({ question:question, answers:null }).execute())
		</div>
	</div>
</body>
</html>
